h1 {
    color: $color-primary;
    font-style: Bold;
    font-weight: 200;
    font-size: 3em;
    font-family: Verdana, Tahoma, sans-serif;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
h2 {
    color: #a52a2a;
    font-style: italic;
    font-weight: 100;
    font-size: 2em;
    font-family: Verdana, Tahoma, sans-serif;
}

h4 {
    color: black;
    text-decoration: none;
    font-style: Bold;
    font-weight: 50;
    font-size: 1em;
    font-family: Verdana, Tahoma, sans-serif;
}
